<main class="text-light">
    
<title>Bot Club | Ekip</title>
    <br>
    <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Yetkililer</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 20px;">
            <div class="col">

            
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Evans">Evan</h1>
                        <h2>Sahip</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/attachments/844855128296915034/844859981269303296/sad-crying-animated-gifs_24.jpg">
                    </div>
                </div>
              
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Bozguncu">Bozguncu</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/717758703096561752/538a8325b1ed37f5fc006524d6b52bdd.webp">
                    </div>
                </div>
              
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Ayla">Violet</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/814391250811224075/257dae7112ba49c378a6b388fe21120b.webp">
                    </div>
                </div>

                <div class="profile" style="background: linear-gradient(-35deg, rgba(50, 253, 230, 0.5) 25%, rgb(47, 208, 229) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Admin">Senior</h1>
                        <h2>Admin</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/798957364359069727/13aa1e39e53dfa927d3fd0a05900de0d.webp">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
  
  
  
  
  
  
  
  
  
  
  
  
  
   <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Sponsorlar</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 3px;">
            <div class="col">
                <div class="profile" style="background: linear-gradient(-35deg, rgba(49, 253, 219, 0.5) 20%, rgb(47, 208, 229) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Teymen">Teymen</h1>
                        <h2>Sponsor</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/419838607801581568/57f7d03a4dc4077af79154484dfb9634.webp">
                    </div>
                </div>
               
                </div>
            </div>
        </div>
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Destekçiler</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 3px;">
            <div class="col">
                <div class="profile" style="-moz-user-select: none;-ms-user-select: none;user-select: none;background: linear-gradient(-35deg, rgba(218, 127, 255, 0.5) 20%, rgb(242, 101, 255) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Boş">Boş</h1>
                        <h2>Booster</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://i1.wp.com/erisly.com/assets/img/premium/boost.cb45e94.png">
                    </div>
                </div>
               
                <div class="profile" style="-moz-user-select: none;-ms-user-select: none;user-select: none;background: linear-gradient(-35deg, rgba(218, 127, 255, 0.5) 20%, rgb(242, 101, 255) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Boş">Boş</h1>
                        <h2>Booster</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://i1.wp.com/erisly.com/assets/img/premium/boost.cb45e94.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>